<div>
  <form action="/">
    <label for="book_name">
      Введите название книги
    </label>
    <input type="text" id="book_name" name="book_name" value="<%= @book_name %>" placeholder="желательно полное">
    <input type="submit" value="Искать">
  </form>
</div>
<% if @html_page %>
  <h2><%= @title %></h2>
  <% if @book_id %>
    <div style="display: none;">
      <a href="/download?format=pdf&book_name=<%= @book_name %>&author=<%= @author %>&book_id=<%= @book_id %>">pdf</a>
    </div>
    <div>
      <a href="/download?format=txt&book_name=<%= @book_name %>&author=<%= @author %>&book_id=<%= @book_id %>">txt</a>
    </div>
  <% end %>
  <div><%= @html_page %></div>
<% end %>
